
<div id="main-page">

<p>Welcome {{ name }},</p>
   <p>Id is {{ id }}.</p> 
   <p>Now you have successfully logged in, with this custom demo login, you can now customize the authorization depending on any auth system, or just build a custom DB, and use it for your custom login information with custom tables.</p>

   <p>
   		To change your Password and Username, simple go to LoginForm folder in shared folder, and modify the loginform.compenent.ts line 22
   </p>

   <p>Regards</p>
   <p>Mutasem Elayyoub </p>
   <p>www.ddkits.com</p>

</div>